<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <!--<add name="Base" connectionString="Data Source=SCSIJ04;Initial Catalog=CCST_Padron2016;User Id=ccst_usrPadron2016;Password=p1dr4n2016" providerName="System.Data.SqlClient" />-->
    <add name="Base" connectionString="Data Source=CTSEM-31271-LVG\SQLEXPRESSMAC;Initial Catalog=OficiosCCST;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>